{% extends 'crm/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'crm/css/index.css' %}">
{% endblock css %}

{% block title %}Home{% endblock title %}Home

{% block content %}

    <div class="col-md-9 offset-md-1" style="text-align: center">


        {% if user.is_authenticated %}


            {% if records %}

                <table class="table table-striped" style="margin-top: 30px">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Created at</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in records %}
                    <tr>
                        <th scope="row">{{record.id}}</th>
                        <td>{{record.first_name}}</td>
                        <td>{{ record.last_name }}</td>
                        <td>{{ record.age }}</td>
                        <td>{{ record.email }}</td>
                        <td>{{ record.phone_number }}</td>
                        <td>{{ record.created_at }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}

                <div class="alert alert-primary" role="alert" style="margin-top: 50px">
                    Database is empty
                </div>

            {% endif %}

            <a style="margin-top: 30px" href="{% url 'record-create' %}" type="button" class="btn btn-outline-primary btn-lg">Add new Record</a>

        {% else %}

            <div class="login-form">

                <h1>Log In</h1><br>

                <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="mb-3">

                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" , placeholder="Enter your Username"
                               required>

                        <div class="mb-3"><br>
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password",
                                   placeholder="Enter your Password" required>
                        </div>
                        <br>

                        <button type="submit" class="btn btn-primary">LogIn</button>
                    </div>
                    <br>


                    <h4>Do not have an account?
                        <a class="btn btn-outline-success btn-sm"
                           style="margin-left: 20px"
                           href="{% url 'register' %}">
                            Sign Up
                        </a>
                    </h4>

                </form>
            </div>
        {% endif %}
{% endblock content %}